In [51]:
import pandas as pd

In [104]:
#allowing all columns to be displayed
pd.set_option('display.max_columns', None)

In [53]:
#concat public holiday files into one file from Y2015 to Y2022
#step 1 = import all individual files

PH2015 = pd.read_csv('Capstone Files/publicholiday.KR.2015.csv')
PH2016 = pd.read_csv('Capstone Files/publicholiday.KR.2016.csv')
PH2017 = pd.read_csv('Capstone Files/publicholiday.KR.2017.csv')
PH2018 = pd.read_csv('Capstone Files/publicholiday.KR.2018.csv')
PH2019 = pd.read_csv('Capstone Files/publicholiday.KR.2019.csv')
PH2020 = pd.read_csv('Capstone Files/publicholiday.KR.2020.csv')
PH2021 = pd.read_csv('Capstone Files/publicholiday.KR.2021.csv')
PH2022 = pd.read_csv('Capstone Files/publicholiday.KR.2022.csv')

In [54]:
#step 2: concat the files into one

phdf = pd.concat([PH2015,PH2016,PH2017,PH2018,PH2019,PH2020,PH2021,PH2022], ignore_index=True)

In [55]:
#quick view data 

#phdf.tail(5)

In [56]:
#delete unnecessary columns

del phdf['CountryCode']
del phdf['Global']
del phdf['LaunchYear']
del phdf['Type']
del phdf['Counties']

In [57]:
#view updated table after deleting columns

phdf.head()

In [58]:
phdf.info()

In [59]:
# Save the DataFrame to a CSV file without the index column

phdf.to_csv('SouthKoreaPublicHolidays2015to2022.csv', index=False)

In [88]:
#import Seoul AQI file

saqi = pd.read_csv('Capstone Files/seoul-air-quality.csv')

In [89]:
saqi.head(5)

,Date,Year,Day,Seoul_pm25,Seoul_pm10,Seoul_o3,Seoul_no2,Seoul_so2,Seoul_co
0,12/31/2013,2013,Tuesday,na,na,18,34,12,6
1,1/1/2014,2014,Wednesday,na,85,13,37,10,5
2,1/2/2014,2014,Thursday,na,53,3,62,11,11
3,1/3/2014,2014,Friday,na,57,8,37,8,6
4,1/4/2014,2014,Saturday,na,49,10,38,7,6

In [ ]:
#remove unnecessary/incomplete information

In [90]:
saqi = saqi.drop(saqi[(saqi.Year == 2013)].index)

In [91]:
saqi = saqi.drop(saqi[(saqi.Year == 2014)].index)

In [92]:
saqi = saqi.drop(saqi[(saqi.Year == 2023)].index)

In [114]:
saqi.head(15)

In [94]:
del saqi['Year']

In [ ]:
#Take a look at data for any further changes needed

In [115]:
saqi.head()

In [116]:
baqi.head()

In [69]:
saqi.tail()

In [70]:
baqi = pd.read_csv('Capstone Files/busan-air-quality.csv')

In [71]:
baqi.head(10)

In [99]:
#left join busan aqi and seoul aqi files

aqidf = pd.merge(baqi,saqi,on='Date',how='outer')

In [101]:
aqidf.to_csv('Seoul_Busan_AQI.csv')

In [117]:
aqidf.head()

In [107]:
phdf = pd.read_csv('SouthKoreaPublicHolidays2015to2022.csv')

In [109]:
phdf.head(15)

In [110]:
#add Korean holidays to table

df = pd.merge(aqidf,phdf,on='Date',how='outer')

In [113]:
#export file to csv format for use in Excel and Tableau

df.to_csv('dfdraft1.csv')